/ - @pages.each do |page|
/ 	%ul.unstyled
/ 		%li
/ 			%h3
/ 				= link_to page.title, page_url(page)

:javascript
	$('#home-link').hover(function(){
		$('#main').toggleClass('home-hover');
	})
	$('#sound-link').hover(function(){
		$('#main').toggleClass('sound-hover');
	})
	$('#visions-link').hover(function(){
		$('#main').toggleClass('visions-hover');
	})
	$('#space-link').hover(function(){
		$('#main').toggleClass('space-hover');
	})
	$('#time-link').hover(function(){
		$('#main').toggleClass('time-hover');
	})