%h2 Admin
%table.table.table-striped
	%thead
		%tr
			%th Page
			%th Edit
			%th Delete
	%tbody
		- @pages.each do |p|
			%tr
				%td= link_to icon("edit", "Edit"), "admin/" + edit_page_url(p.id), class: "btn btn-warning"
				%td= link_to icon("trash", "Delete project"), page_url(p.id), method: :delete, confirm: "Are you sure you\'d like to delete this project?", disable_with: "Deleting...", class: "btn btn-danger"