.span6
	.image
		= link_to image_tag(image.image.remote_url, class: 'img-rounded')
		.name= image.image_name 
		.actions
			= link_to icon("trash", "Delete Image"), admin_page_image_url(image.imageable_id, image.id), method: :delete, confirm: "Are you sure?", disable_with: "Deleting...", class: "btn btn-danger"