%h2= 'Gallery for ' + @page.title
= link_to 'Back', :back, class: 'btn btn-warning'
%ul.nav.nav-list
	%li.divider
.row
	#images
		= render @images
%ul.nav.nav-list
	%li.divider
.clear
	= render 'page_form'